{% load static %}
    
  <!-- Navbar ნავბარი -->
  <div class="container-fluid">

    <nav id="gnav" class="navbar navbar-expand-sm bg-dark navbar-dark sticky-top">
      <!-- Brand -->
      <a class="navbar-brand gnavbrend" href="#">
        <img src="{% static 'images/shop_logo.jpg' %}" alt="Logo" style="width:70px;">
      </a>

      <!-- Links -->
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'home' %}">HOME</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'store' %}">STORE</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#">Lorem</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="navbar.html">NavBar</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'admin:index' %}">Admin</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">

        <!-- <nav class="navbar navbar-expand-sm bg-dark navbar-dark" style="padding: 0 20px;"> -->
        <form class="search form-inline justify-content-center bg-warning" action="{% url 'search' %}"
          style="border: 1px solid white; padding: 0;" method="POST">
          {% csrf_token %}
          <!-- <ul class="navbar-nav bg-warning" style="height: 30px;"> -->

          <li class="nav-item dropdown active" style="padding: 0;">
            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown"
              style="padding: 2px 4px; height: 30px;">
              All
            </a>
            <div class="dropdown-menu">
              {% for item in cat_links %}
              <a class="dropdown-item" href="{{ item.get_url }}"> {{ item.category_name }}</a>
              {% endfor %}
            </div>
          </li>
          <!-- </ul> -->
          <!-- ძებნა დაწყება -->
          <input class="form-control bg-dark text-warning" type="text" placeholder="Search" name="keyword"
            style="text-align: center; padding: 0; max-width: 400px; height: 30px; border-radius: 0;">
          <!-- ძებნა დამთავრება -->
        </form>
      </ul>
      <!-- </nav> -->
      <br>

      <ul class="navbar-nav ml-auto">
        <li class="nav-item active" style="padding: 0 40px;">
          <a class="nav-link" href="#">
            <i class="far fa-heart fa-lg"></i>
            <span class="badge badge-pill badge-warning notify">3</span>
          </a>
        </li>
        {% if user.id is None %}
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'login' %}" style="padding-right: 0;">Login</a>
        </li>
        <li class="nav-item active">
          <span class="nav-link" style="padding-right: 2px; padding-left: 2px;">/</span>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'register' %}" style="padding-left: 0;">Register</a>
        </li>
        {% else %}
        <li class="nav-item active">
          <span class="nav-link text-warning"style="padding-right: 0;">Welcome {{ user.first_name }}</span>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'dashboard' %}" style="padding-right: 0;">Dashboard</a>
        </li>
        <li class="nav-item active">
          <span class="nav-link" style="padding-right: 2px; padding-left: 2px;">/</span>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'logout' %}" style="padding-left: 0;">Logout</a>
        </li>

        {% endif %}
        <li class="nav-item active" style="padding: 0 30px 0 40px;">
          <a class="nav-link" href="{% url 'cart' %}">
            <i class="fas fa-shopping-cart"></i>
            <span class="badge badge-pill badge-warning notify">{{ cart_count }}</span>
          </a>
        </li>

        <li class="nav-item active" style="padding: 0 10px 0 0;">
          <a class="nav-link" href="#">
            <img src="{% static 'images/eng4.png' %}" alt="" width="20px" style="box-shadow: 0 0 5px white;">
          </a>
        </li>
      </ul>

    </nav>
    <br>
  </div>